<div class="container mt-3">
  <h1>All Patients</h1>
  <h5>Number of Patients: <%= @patients.count %></h5>
  <%= link_to "Add new patient", new_patient_path, class: "btn btn-outline-primary" %>

  <table class="table table-hover mt-3">
    <thead>
      <tr>
        <th scope="col">Patient Name</th>
        <th scope="col">Patient Age</th>
        <th scope="col">Remove</th>
      </tr>
    </thead>
    <tbody>
      <% @patients.each do |patient| %>
      <tr>
        <td><%= link_to patient.name, patient_path(patient), class: "btn btn-outline-secondary" %></td>
        <td><%= patient.age %></td>
        <td><%= link_to patient_path(patient), method: :delete, data: { confirm: "Remove #{patient.name}?" }, class: "btn btn-outline-danger" do %>
          Remove
        <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
